<div class="container">
  <h1>Bienvenidos</h1>

<div row>
  <div class="jumbotron col-sm-5">
    <h1>Celulares</h1>
    <p>Registrar Celulares</p>
    <p><a class="btn btn-primary btn-lg" [routerLink]="['/celular']" role="button">Listar y Crear Celulares</a>  </p>
  </div>
  <div class="col-sm-1"> </div>

  <div class="jumbotron col-sm-5">
    <h1>Aplicaciones</h1>
    <p>Para registrar o listar Items, use el botón "Listar y Crear Celulares"  </p>
    <h4>Dentro de cada bodega podrá crear o listar Aplicaciones.</h4>
  </div>

</div>
</div>
