<h1 align="center">{{title}}</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <form class="animated bounceIn" (ngSubmit)="crearCelular(NuevoCelularForm)" #NuevoCelularForm="ngForm">
        <div class="form-group">
          <label>Celular</label>
          <input required
                 minlength="4"
                 type="text"
                 class="form-control"
                 placeholder="Ingrese el nombre del celular"
                 name="nombre"
                 [(ngModel)]="nuevoCelular.nombre"
                 #nombre="ngModel"
                 #nombreElm>
        </div>

        <div class="form-group">
          <label>Sistema Operativo</label>
          <input required
                 minlength="4"
                 type="text"
                 class="form-control"
                 placeholder="Ingrese el Sistema Operativo"
                 name="sistemaOperativo"
                 [(ngModel)]="nuevoCelular.sistemaOperativo"
                 #nombre="ngModel"
                 #nombreElm>
        </div>

        <div class="form-group">
          <label>Versión</label>

          <input required
                 type="number"
                 min = "1"
                 class="form-control"
                 placeholder="Ingrese la versión del celular"
                 name="version1"
                 [(ngModel)]="nuevoCelular.version1"
                 #nombre="ngModel"
                 #nombreElm>
        </div>

        <button [disabled]="disabledButtons.NuevoCelularFormSubmitButton||!NuevoCelularForm.valid" type="submit"
                class="btn btn-block btn-success">Crear Celular
        </button>
      </form>
    </div>
    <div class="col-sm-5 animated flipInX table-bordered ma-margen-top-bottom ma-padding-top-bottom" *ngFor="let celular of celulares">
      <div class="text-center">
        <h3>{{celular.nombre}}</h3>
        <h3>ID: {{celular.id}}</h3>
        <p>Sistema Operativo: {{celular.sistemaOperativo}}</p>
        <p>Versión: {{celular.version1}}</p>
      </div>

      <div  class="row animated flipInY" >
        <div class="col-sm-5" >
          <button class="btn btn-block btn-info"
                  (click)="disabledButtons.Oculto = false; celular.formularioCerrado = !celular.formularioCerrado"
          >Actualizar</button>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <button class="btn btn-block btn-danger" (click)="borrarCelular(celular.id)">Borrar</button>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <button class="btn btn-block btn-success" [routerLink]="[celular.id,'aplicacion']">Ir a Aplicaciones</button>
          </div>
        </div>
      </div>
      <div class="div" [hidden]="celular.formularioCerrado || (disabledButtons.Oculto)">
        <form action="">
          <form class="animated bounceIn" (ngSubmit)="actualizarCelular(celular)" #NuevoCelularForm="ngForm">
            <div  class="form-group">
              <label>Celular</label>
              <input required
                     minlength="4"
                     type="text"
                     class="form-control"
                     placeholder="Ingrese el nombre del celular"
                     name="nombre"
                     [(ngModel)]="celular.nombre"
                     #nombre="ngModel"
                     #nombreElm>
              <input required
                     minlength="4"
                     type="text"
                     class="form-control"
                     placeholder="Ingrese el Sistema Operativo"
                     name="sistemaOperativo"
                     [(ngModel)]="celular.sistemaOperativo"
                     #nombre="ngModel"
                     #nombreElm>
              <input required
                     min="1"
                     type="number"
                     class="form-control"
                     placeholder="Ingrese la versión del celular"
                     name="version1"
                     [(ngModel)]="celular.version1"
                     #nombre="ngModel"
                     #nombreElm>
            </div>
            <button [disabled]="disabledButtons.NuevoCelularFormSubmitButton||!NuevoCelularForm.valid" type="submit"
                    class="btn btn-block btn-success">Actualizar
            </button>
            <button type="button"
                    class="btn btn-block btn-warning"
                    (click)="celular.formularioCerrado = !celular.formularioCerrado"
            >Cancelar
            </button>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
